nav ul {
    flex-direction: row;
}

@media (min-width: 600px) {
    #attractions-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .hamburger {
        display: none;
    }

    .attractions-image {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 900px) {
    #attractions-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .hamburger {
        display: none;
    }

    .attractions-image {
        width: 100%;
        height: auto;
    }
}