body {
    font-family: "Merriweather", sans-serif;
    color: black;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 10px;
    background-color: #420C09;
    color: white;
}

.burger {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}

.burger a {
    color: white;
    padding: 8px;
}

.burger a:hover {
    background-color: #ddd;
    color: #333;
}

@media (max-width: 900px) {
    .burger {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .burger.open {
        display: flex;
    }

    header.open {
        height: 200px;
        justify-content: center;
    }

    header.open h1 {
        display: none;
    }

    .hamburger::before {
        content: "☰";
    }

    .hamburger.open::before {
        content: "✖";
    }

    .hamburger {
        display: block;
        background: none;
        color: white;
        cursor: pointer;
    }

    .hamburger.open {
        display: block;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

main {
    font-family: "Rubik", sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #36454F;
    color: white;
    margin-top: 40px;
}