@media (min-width: 600px) {
    main {
        padding: 30px;
    }

    footer {
        padding: 15px;
    }
}

@media (min-width: 900px) {
    main {
        padding: 40px;
    }

    footer {
        padding: 20px;
    }

    header {
        padding: 2em 0;
    }
}